{% extends 'generator/base.html' %}
{% load static %}

{% block content %}

<h1>
    Описание
</h1>
<p>
    Генератор паролей - незаменимый помощник при регистрации нового аккаунта, когда нужно придумать сложный пароль,
    подходящий под критерии площадки. Выберите состав пароля и его длину, и система сгенерирует для Вас индивидуальную
    последовательность символов. От вас требуется всего несколько кликов и программа поможет сгенерировать сразу
    несколько случайных надежных паролей на выбор.
    Лаборатория Касперского рекомендует менять пароли от своих электронных почтовых ящиков и аккаунтов в социальных
    сетях минимум один раз в 2 месяца.
</p>
<h2>
    Чтобы придумать надежный пароль для электронной почты или Вконтакте, не нужно вручную перебирать символы, достаточно
    выставить нужные настройки в генераторе и получить результат. Как он работает:
</h2>
<ol>
    <li>Выберите типы символов, из которых должен состоять пароль. Это может быть любая комбинация из цифр, прописных и
        строчных букв, а также знаков %, *, ),?, @, #, $, ~. Если какие-то символы вам не нужны, не ставьте напротив них
        галочку.
    </li>
        <li>Укажите длину пароля. Программа позволяет создавать комбинации размером от 6 до 14 символов.
    </li>
    <li>Нажмите кнопку «Сгенерировать пароль». Программа создаст для вас пароль.
    </li>
</ol>
<p><a href="{% url 'home'  %}">Вернуться на главную страницу</a></p>
{% endblock %}


